<div class="columns is-mobile has-background-black has-text-white">
  <div class="column is-three-fifths is-offset-one-fifth">
    <p class="has-text-centered">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, dolor! Id assumenda magni hic similique tempora neque earum expedita ea eius impedit, temporibus nemo odio iusto autem voluptate? Blanditiis id, sint fuga officia possimus aspernatur cum accusantium recusandae harum eaque cumque consequatur, nam eum voluptatum quas quidem, amet doloremque hic facilis voluptatem. Deserunt corrupti omnis animi et a illum aperiam harum fugiat est reiciendis. Vero suscipit ducimus dolore sit expedita. Autem unde repellendus inventore, corrupti enim, mollitia et quibusdam facere iusto quo possimus nesciunt fuga quisquam sapiente ad quas. Iusto natus necessitatibus commodi quis cum reiciendis eos rem fuga laudantium.</p>
  </div>
</div>
