<app-account ></app-account>








<h1 class="is-size-1 has-text-centered">Inscription</h1>
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <div class="field ">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
        </div>
      </div>

      <div class="field">
        <label class="label">Mot de passe</label>
        <div class="control">
          <input class="input" type="password" placeholder="e.g 1234">
        </div>
      </div>

      <div class="field">
        <p class="control">
          <button class="button is-success">
            Login
          </button>
        </p>
      </div>
    </div>
  </div>