<nav class="navbar is-danger has-text-weight-bold">
  <div class="container">
    <div class="navbar-brand">
      <!-- Logo or something-->
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a  class="navbar-item">Nous</a>
        <a  class="navbar-item">Vous</a>
        <a  class="navbar-item">Eux</a>
      </div>
      <div class="navbar-end">
       <a class="navbar-item has-dropdown is-hoverable">
         <a class='navbar-link'>Connexion</a>
         <div class="navbar-dropdown">
            <div class="field">
                <div class="control">
                    <p class="has-text-centered has-text-black">Name</p>
                  <input class="input is-primary" type="text" placeholder="Nom">
                </div>
              </div>
              <div class="field">
                  <div class="control">
                    <p class="has-text-centered has-text-black">Password</p>
                    <input class="input is-primary" type="text" placeholder="password">
                  </div>
                </div>
              <a class="button is-danger has-text-white is-fullwidth">log in</a>
         </div>

       </a>

      </div>
    </div>
  </div>
</nav>
