/* You can add global styles to this file, and also import other style files */

/*####################### NARU #######################*/

// Need to fixe the width ?
.is-fixed{
  position: fixed;
  bottom: 1px;
}

//alway bottom ? 
.is-bottom{
  min-height: 100%;
}
