<section class="hero is-info is-medium">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title">
          Gérer votre argent est si simple
        </h1>
        <h2 class="subtitle">
          la solution clé en main
        </h2>
      </div>
    </div>
  </section>